*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	background-color: maroon;
}
.header {
	color: goldenrod;
	font-size: 4rem;
	vertical-align: middle;
	margin-left: 2rem;
	margin-right: 2rem;
}

.card-display {
	display: flex;
	height: auto;
	justify-content: center;
	font-weight: bolder;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	overflow: scroll;
	border-radius: 15%;
}

.button-set {
	display: flex;
	justify-content: center;
}

.button-set button {
	color: goldenrod;
	background-color: black;
	height: 4rem;
	font-size: large;
	width: 6rem;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	border-radius: 5%;
	margin-top: 3%;
}

.button-set button:disabled {
	background-color: slategray;
	color: black;
	cursor: default;
}

.player-display {
	display: flex;
	background-color: #2f6b4d;
}
.player-info {
	padding-top: 10%;
	flex-direction: row;
	background-color: #2f6b4d;
	align-items: center;
	justify-content: center;
	width: 20rem;
}

.denomination {
	text-align: center;
	color: aliceblue;
}

.score {
	text-align: center;
}

.stack-info {
	display: flex;
	height: 4rem;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.game-result {
	text-align: center;
	font-weight: bolder;
	color: goldenrod;
}
