body {
	background-color: maroon;
}
.header {
	text-align: center;
	color: tomato;
	font-size: large;
}

.card-display {
	display: flex;
	color: green;
	height: auto;
	justify-content: center;
	font-weight: bolder;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	margin-left: 50px;
	overflow: scroll;
}

.button-set {
	display: flex;
	margin-left: 45%;
	padding: 20px;
	padding-left: 60px;
	padding-right: 60px;
}

.button-set button {
	color: goldenrod;
	background-color: black;
}

.denomination {
	text-align: center;
}

.score {
	text-align: center;
}
